//Colors
$off-white: #f7f7f7;
$dark-grey: #444;
$grey: #666;
$blue: #4a75a7;
$light-blue: #5a9bc4;
$dark-blue: #224b79;
$off-blue: #1c88bf;
$box-shadow: rgba(0, 0, 0, 0);

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$desktop-breakpoint: 45rem;
$mobile-breakpoint: 19.7rem;
$mobile-breakpoint-small: 18.125rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;